{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
    <h4>Password Reset Completed!!!</h4>

    <div class="col-sm-9 offset-sm-1 text-center">
        <h3>Password Changed Successfully!!!</h3>
        <div><iframe src="https://giphy.com/embed/ibolLe3m0qHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}     
      